body {
    /*background-image: url(background.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;

    background-attachment: fixed;*/

    height: 4000px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.background-image img{
    margin-top: -50px;
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: relative;
}

.title-image img {
    width: 60vw;
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 9%;
    height: auto;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.yellow-ribbon img{
    width:30vw;
    position: absolute;
    top:0%;
    filter: drop-shadow(2px 1.5px 1.5px black)
}