@font-face {
    font-family: "stitch";
    src: url(fonts/MixStitch.ttf);
}

:root{
    --primary-color: #e8b341;
    --secondary-color: #332421;
}
body {
    /*background-image: url(background.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;

    background-attachment: fixed;*/

    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.background-image img{
    margin-top: -90px;
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: relative;
}

.title-image img {
    width: 50vw;
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 13%;
    height: auto;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.yellow-ribbon img{
    width:30vw;
    position: absolute;
    top:-5px;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.paper-ribbon img {
    width:25vw;
    position: absolute;
    top:-22px;
    right:170px;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.spotify-player {
    position: absolute;
    aspect-ratio: 12/6;
    width: 25vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    top: 53%;
    right: 9%;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.sub-title {
    position: absolute;
    top: 78%;
    left: 15%;
    transform: rotate(-1deg);
}

h2 {
    font-family: "stitch", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.75rem;
    color:var(--primary-color);
    filter: drop-shadow(1px 1px 0px black)
}

.middle-thread {
    position: absolute;
    top: 95%;
    left: 11%;
}