@font-face {
    font-family: "stitch";
    src: url(fonts/MixStitch.ttf);
}

@font-face {
    font-family: "recoleta";
    src: url(fonts/recoleta-bold.otf);
}

:root{
    --primary-color: #e8b341;
    --secondary-color: #332421;
}
body {
    /*background-image: url(background.png);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    overflow-y: auto;

    background-attachment: fixed;*/

    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
}

.background-image img{
    margin-top: -90px;
    width: 100vw;
    height: auto;
    object-fit: cover;
    position: relative;
}

.title-image img {
    width: 50vw;
    position: absolute;
    object-fit: cover;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 13%;
    height: auto;
    filter: drop-shadow(2px 1.5px 1.5px black)
}

.yellow-ribbon img{
    width:40vw;
    position: absolute;
    top:-18%;
    left: -8%;
    filter: drop-shadow(2px 1.5px 1.5px black);
    animation: rotating 4s ease-in-out infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(1deg);
    }
    25% {
        trasnform: rotate(0deg);
    }
    50% {
        transform: rotate(-1deg)
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1deg);
    }
}

img {
    width: 35vw;
}

.paper-ribbon img {
    width:65vw;
    position: absolute;
    top:-35%;
    right:-5%;
    filter: drop-shadow(2px 1.5px 1.5px black);
    animation: rotating 3s ease-in-out infinite;
}

.spotify-player {
    position: absolute;
    aspect-ratio: 12/6;
    width: 25vw;
    height: 10vh;
    margin: 1.25em;
    padding: 0;
    top: 155%;
    left: 13%;
}

.spotify-player h2 {
    color:cadetblue;
    margin:0;
}

iframe {
    filter: drop-shadow(2px 1.5px 1.5px black);
}

.sub-title {
    position: absolute;
    top: 78%;
    left: 15%;
    transform: rotate(-1deg);
}

h2 {
    font-family: "stitch", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.75rem;
    color:var(--primary-color);
    filter: drop-shadow(1px 1px 0px black)
}

.middle-thread {
    position: absolute;
    top: 95%;
    left: 11%;
}

.about-me {
    position: absolute;
    top: 110%;
    left: 8%;
    display: flex;
}

.about-me-photo {
    filter: drop-shadow(3px 1px 1px black);
    animation: rotating 7s ease-in-out infinite;

}

.about-me-text h2{
    font-style: bold;
    color: salmon;
    font-size: 4rem;
    margin-bottom:0.2em;
    margin-top:.2em;

}

.about-me-text {
    margin: 0;
    padding: 0;
    width: 45vw;
}

h3 {
    color: var(--primary-color);
    font-family: "recoleta",'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 0.2em;
    filter: drop-shadow(.5px 1px 0px black);
}

.container {
    background-color: #FFFFF4;
    opacity: 80%;
    border-radius: 2em;
    padding: 1em;
    filter: drop-shadow(2px 3px 5px black);
}

.container ul{
    list-style: none;
}

.middle-thread2 {
    position: absolute;
    top: 220%;
    left: 11%;
}

.projects h2{
    width: 100vw;
    font-size: 4rem;
    color:cadetblue;
    text-align:center;
    margin-top: .5em;
    margin-bottom: .25em;
}

.projects h3 {
    text-align: center;
    font-size: 1.5em;
    filter: drop-shadow(0px 0px .25px black);
}

.projects img {
    border-radius: 1em;
    border-style: dashed;
    border-color: var(--primary-color);
    border-width: 2px;
    width: 30vw;
    max-height: 17vw;
    object-fit: cover;
}

.project-card {
    margin: .5em;
}

.projects {
    top: 227%;
    position: absolute;
}
.projects-container {
    margin: 0;
    border-radius: 2em;
    position: absolute;
    display: flex;
    overflow-x: auto;
    gap: 2em;
    width: 75vw;
    left: 13%;
    filter: drop-shadow(1px 1px 1px black);
}